html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 120rem;
}

.TopBanner {
  padding: 3rem 0 3rem 0;
  background: #f8f8f8;
}

.TopBanner .container {
  position: relative;
  display: block;
}

.TopBanner .container h2 {
  text-transform: uppercase;
}

.TopBanner h2 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.TopBanner p {
  font-size: 1.3rem;
}

.TopBanner a {
  display: inline-block;
  margin: 0 0 0 2rem;
  border: 1px solid #333;
  padding: 2px 2rem 5px 2rem;
  transform: translateY(-0.2rem);
}

.TopBanner i {
  position: absolute;
  top: 0;
  right: 0;
}

.header {
  line-height: 10rem;
  background: #f1f1f1;
}

.header h1 {
  font-size: 0;
}

.gnb {
  margin: 0 0 0 auto;
}

.gnb a {
  display: block;
}

.gnb a::first-letter {
  color: #f00;
}

.gnb>ul {
  display: flex;
  gap: 3rem;
}

.gnb>ul>li {
  position: relative;
}

.gnb>ul>li~li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-40%);
  width: 0.1rem;
  height: 1.2rem;
  background: #ddd;
}

#searchForm {
  margin: 0 0 0 2rem;
}

#searchForm input[name='search'] {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
}

#searchForm input[name='search'] {
  color: #f00;
}

#searchForm input[name='search']::placeholder {
  color: #f00;
}

#searchForm input[name='search']:focus::placeholder {
  color: transparent;
}

#searchForm button {
  border: none;
  background: transparent;
}

.main_visual {
  position: relative;
}

.main_visual .main_slider figure {
  height: 60rem;
}

.main_slider .itm01 {
  background: url('../assets/img/mainvisual01.jpg') no-repeat center center/cover;
}

.main_slider .itm02 {
  background: url('../assets/img/mainvisual02.jpg') no-repeat center center/cover;
}

.main_slider .itm03 {
  background: url('../assets/img/mainvisual03.jpg') no-repeat center center/cover;
}

.main_slider .itm04 {
  background: url('../assets/img/mainvisual01.jpg') no-repeat center center/cover;
}

.main_visual .slogan {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.main_visual .slogan h2 {
  margin: 0 0 1.2rem 0;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 0 0 3px #000;
  text-indent: -2px;
}

.main_visual .slogan p {
  font-size: 1.5rem;
  text-shadow: 0 0 3px #000;
}

.main_visual .slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  /* display: flex; */
  transform: translateX(-50%);
}

.main_visual .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 0.2rem;
  width: 4rem;
  height: 0.4rem;
  background-color: #333;
  overflow: hidden;
}

.main_visual .slick-dots li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f00;

}

.main_visual .slick-dots li.slick-active::after {
  width: 100%;
  transition: 0.5s;

}

.main_slider .slick-dots button {
  display: none;
}