:root {
  --mc: #008850;
  --bl: #dddddd;
  --wc: #f9f9f9;
  --dc: #111111;
}

body {
  color: #333;
  letter-spacing: -0.025em;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.Wrap {
  min-width: 1900px;
  overflow-x: hidden;
}

.Header .top {
  border-top: 2px solid var(--mc);
  border-bottom: 1px solid var(--bl);
  font-size: 14px;
  line-height: 40px;
}

.Header .top ul {
  display: flex;
}

.Header .top ul>li {
  border-right: 1px solid var(--bl);
}

.Header .top ul>li a {
  display: block;
  padding: 0 10px;
}

.Header .container {
  justify-content: space-between;
}

.Header .bottom {
  border-bottom: 1px solid var(--bl);
  line-height: 100px;
}

.Header .Gnb ul {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
}

.Header .Gnb ul li {
  position: relative;
}

.Header .Gnb li~li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-30%);
  width: 2px;
  height: 13px;
  background-color: var(--bl);
}

.SubMain {
  padding: 100px 0;
  color: var(--wc);
}

.SubMain .container {
  justify-content: space-between;
}

.SubMain .sub_slogan {
  font-size: 15px;
}

.SubMain .sub_title {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 0 3px var(--dc);
}

.SubContent {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.SubContent aside {
  border-right: 1px solid var(--bl);
  padding: 50px 50px 100px 0;
  width: 300px;
}

.SubContent article {
  padding: 50px 0 100px 50px;
  width: 800px;
}

.Lnb ul li {
  border-bottom: 1px solid var(--bl);
  line-height: 40px;
}

.Lnb ul li.on {
  color: var(--mc);
}

.Lbn ul li a {
  display: block;
}